body {
                
    background-color: #000000;
    color: white;
    font-family: 'Dosis', sans-serif;
}

/* this was a neat experiment */
/* .gameBody::after {
    
    content: "";
    background: url('../images/gemsbg30b.png') repeat 0 0 #352551;
    -webkit-animation: gemBgSlide 20s linear infinite;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    overflow: hidden;

} */

#gameBody {

    background: url('../images/gemsbg30.png') repeat 0 0 #352551;
    -webkit-animation: gemBgSlide 20s linear infinite;
    z-index: -1;
    
}

#linearDown {
    background: linear-gradient(to bottom, rgba(0,0,0,0.99) 0%,rgba(0,0,0,0) 100%);
}

#linearUp {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,0.99) 100%);
    padding-bottom: 16px;
}

#linearBlack{
    background: rgba(0,0,0,0.99); 
    padding-bottom: 16px;
}

p{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 16px;   
}

#biggem{
    height: 200px;
    width: auto;
    text-align:center;
}

#bigGemMessage{
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 96px;
    line-height: 8px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#smallgem{
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 80px;
    z-index: 1;
}

h1 {
    font-size: 48pt;
    color: palegoldenrod;
    letter-spacing: 10pt;
    text-align: center;
}

.currentTotalOutput{
    font-size: 36px;
    color: palegoldenrod;
}

.progress {
    height: 2rem;
    margin-top: 6px;
    border-radius: 25px;
}

.gemScoreSpacer{
    height: 85px;
    overflow: visible;
}

.gemoutput{
    font-size:56px;
    color: palegoldenrod;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 1px black;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 12px;
    z-index: 5;
    visibility: hidden;
}

.gemoutput-hover{
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: visible; 
}

.slowfillstatusbar{
    margin-top: 12px;
}

.geminput:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.75s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

#smallgem:active {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bustMessage {
    font-size: 2rem;
    visibility: hidden;
    color: darkred;
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 0.5px;
}

/* A lot of these keyframes come from animate.css, which is available on github */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    }

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    }

@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    }

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    }

    .customModal {
        display: none; 
        position: fixed; 
        z-index: 5; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
        -webkit-animation-name: fadeIn; 
        -webkit-animation-duration: 0.5s;
        animation-name: fadeIn;
        animation-duration: 0.5s;
    }
            
                /* in one example, instead of a close button handled in this fashion, they defined .modal-show{ display:show;} 
                as a different class and used javascript to add or remove said class */

    .modalContent {
        background: #4d004d;
        background: url('../images/gembusterbg.png') repeat 0 0 #51253d;
        -webkit-animation: modalBgSlide 5s linear infinite;
        margin: 15% auto; 
        padding: 20px;
        border: 8px solid rgb(119, 0, 99);
        width: 480px; 
        min-height: 240px;
        border-radius: 40px;
        overflow: hidden;
    }

    .modalClose {
        color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .modalClose:hover,
    .modalClose:focus {
        text-decoration: none;
        cursor: pointer;
    }
            

    #modalTextBusted {
        font-size: 48pt;
        font-family: 'Dosis', sans-serif;
        color:darkred;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: red;
        text-align: center;
        margin-top: 30px;
    }

    #modalTextVictory {
        font-size: 48pt;
        font-family: 'Dosis', sans-serif;
        color: palegoldenrod;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        text-align: center;
        margin-top: 30px;
    }

    #modalBodyText {
        font-size: 18pt;
        line-height: 5px;
        text-align: center;
    }

    @-webkit-keyframes slideIn {
        from {bottom: -300px; opacity: 0} 
        to {bottom: 0; opacity: 1}
    }

    @keyframes slideIn {
        from {bottom: -300px; opacity: 0}
        to {bottom: 0; opacity: 1}
    }

    @-webkit-keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }

    @keyframes fadeIn {
        from {opacity: 0} 
        to {opacity: 1}
    }

    @-webkit-keyframes gemBgSlide {
        from { background-position: 0 0; }
        to { background-position: -400px -400px; }
    }

    @-webkit-keyframes modalBgSlide {
        from { background-position: 0 0; }
        to { background-position: -400px 0px; }
    }

    /*Once again, many of these keyframes are used from Animate.css (https://daneden.github.io/animate.css/) by Daniel Eden */

    .fadeOutDown {
        -webkit-animation-name: fadeOutDown;
        animation-name: fadeOutDown;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @-webkit-keyframes fadeInUp {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
        }
      
        to {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      @keyframes fadeInUp {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
        }
      
        to {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      @-webkit-keyframes fadeOutDown {
        from {
          opacity: 1;
        }
      
        to {
          opacity: 0;
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
        }
      }
      
      @keyframes fadeOutDown {
        from {
          opacity: 1;
        }
      
        to {
          opacity: 0;
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
        }
      }
      